In [11]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [13]:
dataset = pd.read_csv(r"C:\Users\Hp\Desktop\cardekho_data.csv")

In [31]:
df=pd.DataFrame(dataset)

In [15]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014.0,3.35,NaN,27000.0,Petrol,Dealer,Manual,NaN
1,sx4,2013.0,4.75,9.54,43000.0,Diesel,Dealer,Manual,0.0
2,ciaz,2017.0,7.25,9.85,6900.0,Petrol,Dealer,Manual,0.0
3,wagon r,NaN,2.85,4.15,5200.0,Petrol,NaN,Manual,0.0
4,swift,2014.0,4.60,6.87,42450.0,Diesel,Dealer,Manual,0.0
5,vitara brezza,2018.0,NaN,9.83,2071.0,Diesel,Dealer,Manual,0.0
6,ciaz,2015.0,6.75,8.12,18796.0,Petrol,Dealer,Manual,0.0
7,s cross,2015.0,6.50,8.61,33429.0,NaN,Dealer,Manual,0.0
8,ciaz,2016.0,8.75,8.89,20273.0,Diesel,Dealer,Manual,0.0
9,NaN,2015.0,7.45,NaN,42367.0,Diesel,Dealer,NaN,0.0
10,alto 800,2017.0,2.85,3.60,2135.0,Petrol,Dealer,Manual,0.0
11,ciaz,NaN,6.85,10.38,51000.0,Diesel,Dealer,Manual,0.0
12,ciaz,2015.0,7.50,9.94,15000.0,NaN,Dealer,Automatic,0.0
13,ertiga,2015.0,6.10,7.71,26000.0,Petrol,Dealer,Manual,0.0
14,dzire,2009.0,2.25,7.21,77427.0,Petrol,Dealer,Manual,0.0
15,ertiga,2016.0,7.75,10.79,NaN,Diesel,NaN,NaN,0.0
16,ertiga,2015.0,7.25,10.79,41678.0,Diesel,Dealer,Manual,0.0
17,ertiga,2016.0,7.75,10.79,43000.0,NaN,Dealer,Manual,0.0
18,wagon r,2015.0,3.25,5.09,35500.0,CNG,Dealer,Manual,0.0
19,sx4,2010.0,2.65,NaN,41442.0,Petrol,Dealer,Manual,0.0
20,alto k10,2016.0,2.85,3.95,25000.0,Petrol,Dealer,Manual,0.0
21,ignis,NaN,4.90,5.71,2400.0,Petrol,Dealer,Manual,0.0
22,sx4,2011.0,4.40,8.01,50000.0,Petrol,Dealer,Automatic,0.0
23,alto k10,2014.0,2.50,3.46,NaN,Petrol,Dealer,NaN,0.0
24,wagon r,NaN,2.90,4.41,56879.0,Petrol,NaN,Manual,0.0
25,swift,2011.0,3.00,4.99,20000.0,Petrol,Dealer,Manual,0.0
26,swift,2013.0,4.15,5.87,55138.0,Petrol,Dealer,Manual,0.0
27,NaN,2017.0,6.00,6.49,16200.0,Petrol,Individual,Manual,0.0
28,alto k10,2010.0,1.95,3.95,44542.0,Petrol,Dealer,Manual,0.0

In [16]:
A = df.iloc[:, :-1].values
B = df.iloc[:, -1].values
print(A)
print(B)

[['ritz' 2014.0 3.35 nan 27000.0 'Petrol' 'Dealer' 'Manual']
 ['sx4' 2013.0 4.75 9.54 43000.0 'Diesel' 'Dealer' 'Manual']
 ['ciaz' 2017.0 7.25 9.85 6900.0 'Petrol' 'Dealer' 'Manual']
 ['wagon r' nan 2.85 4.15 5200.0 'Petrol' nan 'Manual']
 ['swift' 2014.0 4.6 6.87 42450.0 'Diesel' 'Dealer' 'Manual']
 ['vitara brezza' 2018.0 nan 9.83 2071.0 'Diesel' 'Dealer' 'Manual']
 ['ciaz' 2015.0 6.75 8.12 18796.0 'Petrol' 'Dealer' 'Manual']
 ['s cross' 2015.0 6.5 8.61 33429.0 nan 'Dealer' 'Manual']
 ['ciaz' 2016.0 8.75 8.89 20273.0 'Diesel' 'Dealer' 'Manual']
 [nan 2015.0 7.45 nan 42367.0 'Diesel' 'Dealer' nan]
 ['alto 800' 2017.0 2.85 3.6 2135.0 'Petrol' 'Dealer' 'Manual']
 ['ciaz' nan 6.85 10.38 51000.0 'Diesel' 'Dealer' 'Manual']
 ['ciaz' 2015.0 7.5 9.94 15000.0 nan 'Dealer' 'Automatic']
 ['ertiga' 2015.0 6.1 7.71 26000.0 'Petrol' 'Dealer' 'Manual']
 ['dzire' 2009.0 2.25 7.21 77427.0 'Petrol' 'Dealer' 'Manual']
 ['ertiga' 2016.0 7.75 10.79 nan 'Diesel' nan nan]
 ['ertiga' 2015.0 7.25 10.79 41678.0 'Diesel' 'Dealer' 'Manual']
 ['ertiga' 2016.0 7.75 10.79 43000.0 nan 'Dealer' 'Manual']
 ['wagon r' 2015.0 3.25 5.09 35500.0 'CNG' 'Dealer' 'Manual']
 ['sx4' 2010.0 2.65 nan 41442.0 'Petrol' 'Dealer' 'Manual']
 ['alto k10' 2016.0 2.85 3.95 25000.0 'Petrol' 'Dealer' 'Manual']
 ['ignis' nan 4.9 5.71 2400.0 'Petrol' 'Dealer' 'Manual']
 ['sx4' 2011.0 4.4 8.01 50000.0 'Petrol' 'Dealer' 'Automatic']
 ['alto k10' 2014.0 2.5 3.46 nan 'Petrol' 'Dealer' nan]
 ['wagon r' nan 2.9 4.41 56879.0 'Petrol' nan 'Manual']
 ['swift' 2011.0 3.0 4.99 20000.0 'Petrol' 'Dealer' 'Manual']
 ['swift' 2013.0 4.15 5.87 55138.0 'Petrol' 'Dealer' 'Manual']
 [nan 2017.0 6.0 6.49 16200.0 'Petrol' 'Individual' 'Manual']
 ['alto k10' 2010.0 1.95 3.95 44542.0 'Petrol' 'Dealer' 'Manual']]
[nan  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.
  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.]

In [17]:
df.isnull().sum()

Car_Name         2
Year             4
Selling_Price    1
Present_Price    3
Kms_Driven       2
Fuel_Type        3
Seller_Type      3
Transmission     3
Owner            1
dtype: int64

In [18]:
print("Before:",df.shape)
df.dropna(inplace=True)
print("After:",df.shape)

Before: (29, 9)
After: (15, 9)

In [20]:
df2 = df.copy()
df2

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
1,sx4,2013.0,4.75,9.54,43000.0,Diesel,Dealer,Manual,0.0
2,ciaz,2017.0,7.25,9.85,6900.0,Petrol,Dealer,Manual,0.0
4,swift,2014.0,4.60,6.87,42450.0,Diesel,Dealer,Manual,0.0
6,ciaz,2015.0,6.75,8.12,18796.0,Petrol,Dealer,Manual,0.0
8,ciaz,2016.0,8.75,8.89,20273.0,Diesel,Dealer,Manual,0.0
10,alto 800,2017.0,2.85,3.60,2135.0,Petrol,Dealer,Manual,0.0
13,ertiga,2015.0,6.10,7.71,26000.0,Petrol,Dealer,Manual,0.0
14,dzire,2009.0,2.25,7.21,77427.0,Petrol,Dealer,Manual,0.0
16,ertiga,2015.0,7.25,10.79,41678.0,Diesel,Dealer,Manual,0.0
18,wagon r,2015.0,3.25,5.09,35500.0,CNG,Dealer,Manual,0.0
20,alto k10,2016.0,2.85,3.95,25000.0,Petrol,Dealer,Manual,0.0
22,sx4,2011.0,4.40,8.01,50000.0,Petrol,Dealer,Automatic,0.0
25,swift,2011.0,3.00,4.99,20000.0,Petrol,Dealer,Manual,0.0
26,swift,2013.0,4.15,5.87,55138.0,Petrol,Dealer,Manual,0.0
28,alto k10,2010.0,1.95,3.95,44542.0,Petrol,Dealer,Manual,0.0

In [21]:
df2.mean

<bound method DataFrame.mean of     Car_Name    Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
1        sx4  2013.0           4.75           9.54     43000.0    Diesel
2       ciaz  2017.0           7.25           9.85      6900.0    Petrol
4      swift  2014.0           4.60           6.87     42450.0    Diesel
6       ciaz  2015.0           6.75           8.12     18796.0    Petrol
8       ciaz  2016.0           8.75           8.89     20273.0    Diesel
10  alto 800  2017.0           2.85           3.60      2135.0    Petrol
13    ertiga  2015.0           6.10           7.71     26000.0    Petrol
14     dzire  2009.0           2.25           7.21     77427.0    Petrol
16    ertiga  2015.0           7.25          10.79     41678.0    Diesel
18   wagon r  2015.0           3.25           5.09     35500.0       CNG
20  alto k10  2016.0           2.85           3.95     25000.0    Petrol
22       sx4  2011.0           4.40           8.01     50000.0    Petrol
25     swift  2011.0           3.00           4.99     20000.0    Petrol
26     swift  2013.0           4.15           5.87     55138.0    Petrol
28  alto k10  2010.0           1.95           3.95     44542.0    Petrol

   Seller_Type Transmission  Owner
1       Dealer       Manual    0.0
2       Dealer       Manual    0.0
4       Dealer       Manual    0.0
6       Dealer       Manual    0.0
8       Dealer       Manual    0.0
10      Dealer       Manual    0.0
13      Dealer       Manual    0.0
14      Dealer       Manual    0.0
16      Dealer       Manual    0.0
18      Dealer       Manual    0.0
20      Dealer       Manual    0.0
22      Dealer    Automatic    0.0
25      Dealer       Manual    0.0
26      Dealer       Manual    0.0
28      Dealer       Manual    0.0  >

In [33]:
numerical_cols = ['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven']
df[numerical_cols] = df[numerical_cols].fillna(df[numerical_cols].mean())

categorical_cols = ['Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']
df[categorical_cols] = df[categorical_cols].fillna(df[categorical_cols].mode().iloc[0])
print(df)

         Car_Name     Year  Selling_Price  Present_Price    Kms_Driven  \
0            ritz  2014.00       3.350000       7.269231  27000.000000
1             sx4  2013.00       4.750000       9.540000  43000.000000
2            ciaz  2017.00       7.250000       9.850000   6900.000000
3         wagon r  2014.28       2.850000       4.150000   5200.000000
4           swift  2014.00       4.600000       6.870000  42450.000000
5   vitara brezza  2018.00       4.967857       9.830000   2071.000000
6            ciaz  2015.00       6.750000       8.120000  18796.000000
7         s cross  2015.00       6.500000       8.610000  33429.000000
8            ciaz  2016.00       8.750000       8.890000  20273.000000
9             NaN  2015.00       7.450000       7.269231  42367.000000
10       alto 800  2017.00       2.850000       3.600000   2135.000000
11           ciaz  2014.28       6.850000      10.380000  51000.000000
12           ciaz  2015.00       7.500000       9.940000  15000.000000
13         ertiga  2015.00       6.100000       7.710000  26000.000000
14          dzire  2009.00       2.250000       7.210000  77427.000000
15         ertiga  2016.00       7.750000      10.790000  31289.888889
16         ertiga  2015.00       7.250000      10.790000  41678.000000
17         ertiga  2016.00       7.750000      10.790000  43000.000000
18        wagon r  2015.00       3.250000       5.090000  35500.000000
19            sx4  2010.00       2.650000       7.269231  41442.000000
20       alto k10  2016.00       2.850000       3.950000  25000.000000
21          ignis  2014.28       4.900000       5.710000   2400.000000
22            sx4  2011.00       4.400000       8.010000  50000.000000
23       alto k10  2014.00       2.500000       3.460000  31289.888889
24        wagon r  2014.28       2.900000       4.410000  56879.000000
25          swift  2011.00       3.000000       4.990000  20000.000000
26          swift  2013.00       4.150000       5.870000  55138.000000
27            NaN  2017.00       6.000000       6.490000  16200.000000
28       alto k10  2010.00       1.950000       3.950000  44542.000000

   Fuel_Type Seller_Type Transmission  Owner
0     Petrol      Dealer       Manual    0.0
1     Diesel      Dealer       Manual    0.0
2     Petrol      Dealer       Manual    0.0
3     Petrol      Dealer       Manual    0.0
4     Diesel      Dealer       Manual    0.0
5     Diesel      Dealer       Manual    0.0
6     Petrol      Dealer       Manual    0.0
7     Petrol      Dealer       Manual    0.0
8     Diesel      Dealer       Manual    0.0
9     Diesel      Dealer       Manual    0.0
10    Petrol      Dealer       Manual    0.0
11    Diesel      Dealer       Manual    0.0
12    Petrol      Dealer    Automatic    0.0
13    Petrol      Dealer       Manual    0.0
14    Petrol      Dealer       Manual    0.0
15    Diesel      Dealer       Manual    0.0
16    Diesel      Dealer       Manual    0.0
17    Petrol      Dealer       Manual    0.0
18       CNG      Dealer       Manual    0.0
19    Petrol      Dealer       Manual    0.0
20    Petrol      Dealer       Manual    0.0
21    Petrol      Dealer       Manual    0.0
22    Petrol      Dealer    Automatic    0.0
23    Petrol      Dealer       Manual    0.0
24    Petrol      Dealer       Manual    0.0
25    Petrol      Dealer       Manual    0.0
26    Petrol      Dealer       Manual    0.0
27    Petrol  Individual       Manual    0.0
28    Petrol      Dealer       Manual    0.0

In [36]:
df.replace({'Fuel_Type': {'Petrol': 1, 'Diesel': 2, 'CNG': 3}}, inplace=True)
print(df)

         Car_Name     Year  Selling_Price  Present_Price    Kms_Driven  \
0            ritz  2014.00       3.350000       7.269231  27000.000000
1             sx4  2013.00       4.750000       9.540000  43000.000000
2            ciaz  2017.00       7.250000       9.850000   6900.000000
3         wagon r  2014.28       2.850000       4.150000   5200.000000
4           swift  2014.00       4.600000       6.870000  42450.000000
5   vitara brezza  2018.00       4.967857       9.830000   2071.000000
6            ciaz  2015.00       6.750000       8.120000  18796.000000
7         s cross  2015.00       6.500000       8.610000  33429.000000
8            ciaz  2016.00       8.750000       8.890000  20273.000000
9             NaN  2015.00       7.450000       7.269231  42367.000000
10       alto 800  2017.00       2.850000       3.600000   2135.000000
11           ciaz  2014.28       6.850000      10.380000  51000.000000
12           ciaz  2015.00       7.500000       9.940000  15000.000000
13         ertiga  2015.00       6.100000       7.710000  26000.000000
14          dzire  2009.00       2.250000       7.210000  77427.000000
15         ertiga  2016.00       7.750000      10.790000  31289.888889
16         ertiga  2015.00       7.250000      10.790000  41678.000000
17         ertiga  2016.00       7.750000      10.790000  43000.000000
18        wagon r  2015.00       3.250000       5.090000  35500.000000
19            sx4  2010.00       2.650000       7.269231  41442.000000
20       alto k10  2016.00       2.850000       3.950000  25000.000000
21          ignis  2014.28       4.900000       5.710000   2400.000000
22            sx4  2011.00       4.400000       8.010000  50000.000000
23       alto k10  2014.00       2.500000       3.460000  31289.888889
24        wagon r  2014.28       2.900000       4.410000  56879.000000
25          swift  2011.00       3.000000       4.990000  20000.000000
26          swift  2013.00       4.150000       5.870000  55138.000000
27            NaN  2017.00       6.000000       6.490000  16200.000000
28       alto k10  2010.00       1.950000       3.950000  44542.000000

    Fuel_Type Seller_Type Transmission  Owner
0           1      Dealer       Manual    0.0
1           2      Dealer       Manual    0.0
2           1      Dealer       Manual    0.0
3           1      Dealer       Manual    0.0
4           2      Dealer       Manual    0.0
5           2      Dealer       Manual    0.0
6           1      Dealer       Manual    0.0
7           1      Dealer       Manual    0.0
8           2      Dealer       Manual    0.0
9           2      Dealer       Manual    0.0
10          1      Dealer       Manual    0.0
11          2      Dealer       Manual    0.0
12          1      Dealer    Automatic    0.0
13          1      Dealer       Manual    0.0
14          1      Dealer       Manual    0.0
15          2      Dealer       Manual    0.0
16          2      Dealer       Manual    0.0
17          1      Dealer       Manual    0.0
18          3      Dealer       Manual    0.0
19          1      Dealer       Manual    0.0
20          1      Dealer       Manual    0.0
21          1      Dealer       Manual    0.0
22          1      Dealer    Automatic    0.0
23          1      Dealer       Manual    0.0
24          1      Dealer       Manual    0.0
25          1      Dealer       Manual    0.0
26          1      Dealer       Manual    0.0
27          1  Individual       Manual    0.0
28          1      Dealer       Manual    0.0

In [42]:
# Create a boolean series indicating True for NaN values
nan_bool_series = df.isna()
print(df)

         Car_Name     Year  Selling_Price  Present_Price    Kms_Driven  \
0            ritz  2014.00       3.350000       7.269231  27000.000000
1             sx4  2013.00       4.750000       9.540000  43000.000000
2            ciaz  2017.00       7.250000       9.850000   6900.000000
3         wagon r  2014.28       2.850000       4.150000   5200.000000
4           swift  2014.00       4.600000       6.870000  42450.000000
5   vitara brezza  2018.00       4.967857       9.830000   2071.000000
6            ciaz  2015.00       6.750000       8.120000  18796.000000
7         s cross  2015.00       6.500000       8.610000  33429.000000
8            ciaz  2016.00       8.750000       8.890000  20273.000000
9             NaN  2015.00       7.450000       7.269231  42367.000000
10       alto 800  2017.00       2.850000       3.600000   2135.000000
11           ciaz  2014.28       6.850000      10.380000  51000.000000
12           ciaz  2015.00       7.500000       9.940000  15000.000000
13         ertiga  2015.00       6.100000       7.710000  26000.000000
14          dzire  2009.00       2.250000       7.210000  77427.000000
15         ertiga  2016.00       7.750000      10.790000  31289.888889
16         ertiga  2015.00       7.250000      10.790000  41678.000000
17         ertiga  2016.00       7.750000      10.790000  43000.000000
18        wagon r  2015.00       3.250000       5.090000  35500.000000
19            sx4  2010.00       2.650000       7.269231  41442.000000
20       alto k10  2016.00       2.850000       3.950000  25000.000000
21          ignis  2014.28       4.900000       5.710000   2400.000000
22            sx4  2011.00       4.400000       8.010000  50000.000000
23       alto k10  2014.00       2.500000       3.460000  31289.888889
24        wagon r  2014.28       2.900000       4.410000  56879.000000
25          swift  2011.00       3.000000       4.990000  20000.000000
26          swift  2013.00       4.150000       5.870000  55138.000000
27            NaN  2017.00       6.000000       6.490000  16200.000000
28       alto k10  2010.00       1.950000       3.950000  44542.000000

    Fuel_Type Seller_Type Transmission  Owner
0           1      Dealer       Manual    0.0
1           2      Dealer       Manual    0.0
2           1      Dealer       Manual    0.0
3           1      Dealer       Manual    0.0
4           2      Dealer       Manual    0.0
5           2      Dealer       Manual    0.0
6           1      Dealer       Manual    0.0
7           1      Dealer       Manual    0.0
8           2      Dealer       Manual    0.0
9           2      Dealer       Manual    0.0
10          1      Dealer       Manual    0.0
11          2      Dealer       Manual    0.0
12          1      Dealer    Automatic    0.0
13          1      Dealer       Manual    0.0
14          1      Dealer       Manual    0.0
15          2      Dealer       Manual    0.0
16          2      Dealer       Manual    0.0
17          1      Dealer       Manual    0.0
18          3      Dealer       Manual    0.0
19          1      Dealer       Manual    0.0
20          1      Dealer       Manual    0.0
21          1      Dealer       Manual    0.0
22          1      Dealer    Automatic    0.0
23          1      Dealer       Manual    0.0
24          1      Dealer       Manual    0.0
25          1      Dealer       Manual    0.0
26          1      Dealer       Manual    0.0
27          1  Individual       Manual    0.0
28          1      Dealer       Manual    0.0

In [43]:
# Filter data based on a condition (e.g., Selling_Price greater than 5)
filtered_data = df[df['Selling_Price'] > 5]
print(df)

         Car_Name     Year  Selling_Price  Present_Price    Kms_Driven  \
0            ritz  2014.00       3.350000       7.269231  27000.000000
1             sx4  2013.00       4.750000       9.540000  43000.000000
2            ciaz  2017.00       7.250000       9.850000   6900.000000
3         wagon r  2014.28       2.850000       4.150000   5200.000000
4           swift  2014.00       4.600000       6.870000  42450.000000
5   vitara brezza  2018.00       4.967857       9.830000   2071.000000
6            ciaz  2015.00       6.750000       8.120000  18796.000000
7         s cross  2015.00       6.500000       8.610000  33429.000000
8            ciaz  2016.00       8.750000       8.890000  20273.000000
9             NaN  2015.00       7.450000       7.269231  42367.000000
10       alto 800  2017.00       2.850000       3.600000   2135.000000
11           ciaz  2014.28       6.850000      10.380000  51000.000000
12           ciaz  2015.00       7.500000       9.940000  15000.000000
13         ertiga  2015.00       6.100000       7.710000  26000.000000
14          dzire  2009.00       2.250000       7.210000  77427.000000
15         ertiga  2016.00       7.750000      10.790000  31289.888889
16         ertiga  2015.00       7.250000      10.790000  41678.000000
17         ertiga  2016.00       7.750000      10.790000  43000.000000
18        wagon r  2015.00       3.250000       5.090000  35500.000000
19            sx4  2010.00       2.650000       7.269231  41442.000000
20       alto k10  2016.00       2.850000       3.950000  25000.000000
21          ignis  2014.28       4.900000       5.710000   2400.000000
22            sx4  2011.00       4.400000       8.010000  50000.000000
23       alto k10  2014.00       2.500000       3.460000  31289.888889
24        wagon r  2014.28       2.900000       4.410000  56879.000000
25          swift  2011.00       3.000000       4.990000  20000.000000
26          swift  2013.00       4.150000       5.870000  55138.000000
27            NaN  2017.00       6.000000       6.490000  16200.000000
28       alto k10  2010.00       1.950000       3.950000  44542.000000

    Fuel_Type Seller_Type Transmission  Owner
0           1      Dealer       Manual    0.0
1           2      Dealer       Manual    0.0
2           1      Dealer       Manual    0.0
3           1      Dealer       Manual    0.0
4           2      Dealer       Manual    0.0
5           2      Dealer       Manual    0.0
6           1      Dealer       Manual    0.0
7           1      Dealer       Manual    0.0
8           2      Dealer       Manual    0.0
9           2      Dealer       Manual    0.0
10          1      Dealer       Manual    0.0
11          2      Dealer       Manual    0.0
12          1      Dealer    Automatic    0.0
13          1      Dealer       Manual    0.0
14          1      Dealer       Manual    0.0
15          2      Dealer       Manual    0.0
16          2      Dealer       Manual    0.0
17          1      Dealer       Manual    0.0
18          3      Dealer       Manual    0.0
19          1      Dealer       Manual    0.0
20          1      Dealer       Manual    0.0
21          1      Dealer       Manual    0.0
22          1      Dealer    Automatic    0.0
23          1      Dealer       Manual    0.0
24          1      Dealer       Manual    0.0
25          1      Dealer       Manual    0.0
26          1      Dealer       Manual    0.0
27          1  Individual       Manual    0.0
28          1      Dealer       Manual    0.0

In [44]:
# Create a dictionary of lists
data_dict = {
    'Car_Name': ['ritz', 'sx4', 'ciaz'],
    'Year': [2014, 2013, 2017],
    'Selling_Price': [3.35, 4.75, 7.25],
    # Add other columns as needed
}
print(data_dict)

{'Car_Name': ['ritz', 'sx4', 'ciaz'], 'Year': [2014, 2013, 2017], 'Selling_Price': [3.35, 4.75, 7.25]}

In [1]:

new_df = pd.DataFrame(data_dict)
non_null_check = df.notnull()
print(df)

NameError: name 'pd' is not defined

In [47]:
df_filled = df.fillna(0)
df_filled

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014.00,3.350000,7.269231,27000.000000,1,Dealer,Manual,0.0
1,sx4,2013.00,4.750000,9.540000,43000.000000,2,Dealer,Manual,0.0
2,ciaz,2017.00,7.250000,9.850000,6900.000000,1,Dealer,Manual,0.0
3,wagon r,2014.28,2.850000,4.150000,5200.000000,1,Dealer,Manual,0.0
4,swift,2014.00,4.600000,6.870000,42450.000000,2,Dealer,Manual,0.0
5,vitara brezza,2018.00,4.967857,9.830000,2071.000000,2,Dealer,Manual,0.0
6,ciaz,2015.00,6.750000,8.120000,18796.000000,1,Dealer,Manual,0.0
7,s cross,2015.00,6.500000,8.610000,33429.000000,1,Dealer,Manual,0.0
8,ciaz,2016.00,8.750000,8.890000,20273.000000,2,Dealer,Manual,0.0
9,0,2015.00,7.450000,7.269231,42367.000000,2,Dealer,Manual,0.0
10,alto 800,2017.00,2.850000,3.600000,2135.000000,1,Dealer,Manual,0.0
11,ciaz,2014.28,6.850000,10.380000,51000.000000,2,Dealer,Manual,0.0
12,ciaz,2015.00,7.500000,9.940000,15000.000000,1,Dealer,Automatic,0.0
13,ertiga,2015.00,6.100000,7.710000,26000.000000,1,Dealer,Manual,0.0
14,dzire,2009.00,2.250000,7.210000,77427.000000,1,Dealer,Manual,0.0
15,ertiga,2016.00,7.750000,10.790000,31289.888889,2,Dealer,Manual,0.0
16,ertiga,2015.00,7.250000,10.790000,41678.000000,2,Dealer,Manual,0.0
17,ertiga,2016.00,7.750000,10.790000,43000.000000,1,Dealer,Manual,0.0
18,wagon r,2015.00,3.250000,5.090000,35500.000000,3,Dealer,Manual,0.0
19,sx4,2010.00,2.650000,7.269231,41442.000000,1,Dealer,Manual,0.0
20,alto k10,2016.00,2.850000,3.950000,25000.000000,1,Dealer,Manual,0.0
21,ignis,2014.28,4.900000,5.710000,2400.000000,1,Dealer,Manual,0.0
22,sx4,2011.00,4.400000,8.010000,50000.000000,1,Dealer,Automatic,0.0
23,alto k10,2014.00,2.500000,3.460000,31289.888889,1,Dealer,Manual,0.0
24,wagon r,2014.28,2.900000,4.410000,56879.000000,1,Dealer,Manual,0.0
25,swift,2011.00,3.000000,4.990000,20000.000000,1,Dealer,Manual,0.0
26,swift,2013.00,4.150000,5.870000,55138.000000,1,Dealer,Manual,0.0
27,0,2017.00,6.000000,6.490000,16200.000000,1,Individual,Manual,0.0
28,alto k10,2010.00,1.950000,3.950000,44542.000000,1,Dealer,Manual,0.0